	
    *{margin:0;padding:0;}

     html,body{height:100vh;}


    	#header{ background-color:white;height:15%;
               font-family:cursive;
               text-align:center;
              }

    	#mainTitle {text-align:center;
    	             position:relative;
    	             font-family:bold;
    	             font-size:50px;
                  background-color:black;
                  color:white;
    	           }



    	h6 {margin-bottom:20px;}

      a {font-size:30px;
         margin-bottom:50px;
         text-decoration:none;
         color:black;
        }

    	a:hover {color:red;}

    	

    	.category { width:49%;
    			       border:2px black solid;
    			       display:inline-block;
    			       vertical-align:top;
    			       overflow-y:scroll;
    			       height:80%;

    			      }

    	.title {height:15%;
    		      background-color:#3e4444;
    		      color:white;
    		      text-align:center;
    		   }
   

    	.title h1 { position:relative;
    			       top:50%;
    			       transform:translateY(-50%)
    			      }

       
                  
      .loadingWrap {height:80%;
                    width:100%;

                  }

                
               .loading{  position:relative;
                          top:207px;
                          left:240.5px;
                          border: 16px solid #f3f3f3; 
                          border-top: 16px solid #3498db; 
                          border-radius: 50%;
                          width: 50px;
                          height:50px;
                          animation: spin 2s linear infinite;

                        }


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}